### Maven ###
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Logs ###
*.log
logs/

### Spring Boot ###
/build/
*.jar
*.war
*.ear

### OS ###
.DS_Store
Thumbs.db

### Environment variables ###
.env

### Docker ###
postgres_data/
